.navbar-top {
  background-color: transparent !important;
}

.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.7) !important; /* or whatever color you prefer */
}

.signup:hover {
  background-color: rgba(0, 0, 0, 0.1) !important; /* Change to your desired hover color */
}

.login:hover {
  background-color: rgba(0, 0, 0, 0.1) !important; /* Change to your desired hover color */
}

.navelement:hover {
  color: rgba(0, 0, 0, 0.6) !important; /* Change to your desired hover color */
}

.logohover:hover {
  color: black !important; /* Change to your desired hover color */
}

.design {
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease;
}

.navbrand {
  width: 120px;
  height: 40px; 
  margin-right: 10px;
}

.sign-up {
  background-color: #b4d4ed;
  color: #000;
  font-weight: bold;
}